body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  height: 100%;
  width: 100%;
  background-color: #23252C;
}

.Picture {
  height: 317px;
  width: 317px;
  background-color: #23252C;
  margin: 0 auto;
  margin-top: 22px;
}

.Picture img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.about-container {
  height: 420px;
  width: 317px;
  background-color: #1A1B21;
  margin: 0 auto;
  margin-top: -22px;
  justify-content: center;
  align-items: center;
}

.about {
  margin:0 auto;
  justify-content: center;
  align-items: center;
}

.about h1 {
  margin-left: 30%;
  color: #FFFFFF;
  width: 178px;
  height: 26px;
  font-weight: 650;
}

.about h4 {
  color: #F3BF99;
  font-weight: 350;
  height: 7px;
  width: 178px;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 30%;
  font-size: small;
}

.github-link {
  text-decoration: underline;
  color: #F5F5F5;
  height: 5px;
  margin: auto;
  width: 228px;
  margin-left: 37%;
  font-size: smaller;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
}

.email-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFFFFF; /* Change the background color to your preference */
  color: #374151;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.email-button:hover {
  background-color: #B3ACAC; /* Change the background color on hover if desired */
}

.linkedin-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5093E2; /* Change the background color to your preference */
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* width: 20%; */
  /* margin-top: 5px; 
  margin-left: 15%;  */
}

.linkedin-button:hover {
  background-color: #376AA6; /* Change the background color on hover if desired */
}

.about h3 {
  color:#F5F5F5;
  font-size: medium;
  margin-left: 10%;
}

.about p {
  color: #DCDCDC;
  font-size: smaller;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -10px;
}

.FooterContainer {
  background-color: #161619;
  width: 317px;
  height: 64px;
  margin: auto;
  /* margin-top: -2%; */
  margin-bottom: 2%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.Footer {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  /* background-color: #918E9B; */
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  border-radius: 15%; 
}

.icon img {
  width: 100%;
  height: 100%;
}